.card-deck {
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  padding: 1rem;

  &-content {
    margin: auto;

    &-title {
      text-align: center;
      margin: auto;
      margin-bottom: 1rem;
    }

    &-list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      &-card {
        padding: 0 0.5rem;
        // border: solid 1px var(--primary);
      }
    }
  }
}
