.chat-box {
  min-width: 320px;

  &-content {
    min-height: 300px;
    border: solid 1px var(--primary);
    display: flex;
    flex-direction: column;

    &-container {
      display: flex;
      flex: 1;
    }

    &-users {
      padding: 0;
      margin: 0;
      list-style: none;

      &-container {
        // font-size: 75%;
        background-color: #FFFFFF;
        color: var(--dark);
        padding: 0.5rem 1rem;
        border-left: solid 1px var(--light);
      }

      &-user {
        padding: 0;
        margin: 0;
      }
    }

    &-logs {
      background-color: #FFFFFF;
      color: var(--dark);
      padding: 0;
      margin: 0;
      list-style: none;
      flex: 1;
      // font-size: 50%;

      &-message {
        margin: 0;
        border-bottom: solid 1px var(--light);
        padding: 0.5rem;

        & .username, & .time {
          font-size: 75%;
          color: var(--light);
        }
      }
    }

    &-input {
      margin: 0;
      width: 100%;
      padding: 0.25rem;
      margin: auto;

      &-box {
        display: flex;
        padding: 0.5rem;
      }
    }

    &-offline-message {
      margin: auto;
    }
  }
}
