.chat-box {
  min-width: 250px;

  &-content {
    min-height: 300px;
    border: solid 1px var(--primary);
    display: flex;
    flex-direction: column;

    &-logs {
      background-color: #FFFFFF;
      color: var(--dark);
      padding: 0;
      margin: 0;
      flex: 1;

      &-message {
        margin: 0;
      }
    }

    &-input {
      margin: 0;
    }
  }
}
