.chat-box {
  min-width: 250px;

  &-content {
    min-height: 300px;
    border: solid 1px var(--primary);
    display: flex;
    flex-direction: column;

    &-logs {
      background-color: #FFFFFF;
      color: var(--dark);
      padding: 0;
      margin: 0;
      list-style: none;
      flex: 1;
      font-size: 50%;

      &-message {
        margin: 0;
        border-bottom: solid 1px var(--light);
        padding: 0.5rem;

        & .username, & .time {
          color: var(--secondary);
        }
      }
    }

    &-input {
      margin: 0;
    }

    &-offline-message {
      margin: auto;
    }
  }
}
