$transition: ease 1s;
$reverse-bg: url(/images/pngegg.png) var(--light);
$table-radious: 400px;

.d-table {
  margin: auto;

  &-content {
    display: flex;
    margin: auto;
    position: relative;
    margin: auto;
    width: $table-radious;
    height: $table-radious;
    border: solid 2px var(--primary);
    border-radius: 50%;
    transition: $transition;
    background-color: var(--primary);
    color: var(--dark);

    &-status {
      margin: auto;
    }

    &-player {
      position: absolute;
      top: 0.48 * $table-radious;
      left: 0.112 * $table-radious;
      transform-origin: (0.4 * $table-radious) 1rem;
      transition: $transition;

      & > .card {
        background-color: #FFF;
        width: 4rem;
        height: 6rem;
        transform: rotateZ(90deg) rotateY(180deg);
        transition: $transition;
        display: flex;
        position: relative;

        & > .reverse {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: $reverse-bg;
          background-size: 80%;
          background-repeat: no-repeat;
          background-position: center;
          transition: $transition;
          transform-origin: 100% 0;
          display: flex;

          & > .icon {
            margin: auto;
            font-size: 150%;
            transform: rotateY(180deg);
          }
        }

        & > .value {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto;
          text-decoration: underline;
          display: flex;

          & > span {
            margin: auto;
            font-size: 115%;
            font-weight: bold;
          }
        }
      }

      & > .name {
        // transform-origin: 10px 30px;
        transition: $transition;

      }
    }

    &.standby &-player {
      // position: static;
      top: 0;
      left: 0;
      transform: rotateZ(0deg) !important;
      float: left;
      margin-right: 2rem;

      & > .card {
        transform: translate(80px, 80px) rotateZ(0deg) rotateY(180deg) !important;
      }

      & > .name {
        transform: rotateZ(0deg) !important;
        opacity: 0;
      }
    }

    &.started &-player {
      & > .card {
        transform: rotateZ(90deg) rotateY(180deg);
      }
    }

    &.ended &-player {
      & > .card {
        margin-top: 3rem;
        transform: rotateZ(0deg) rotateY(0deg) !important;
        & > .reverse {
          transform: rotateY(-90deg);

        }
      }

      & > .name {
        transform: rotateZ(0deg) !important;
      }
    }
  }
}
