/* This file is for your main application css. */

// @import "./phoenix.css";
@import 'variables';
@import url('https://use.fontawesome.com/releases/v5.12.0/css/all.css');
@import 'bulma/bulma.sass';

:root {
  --primary: #{$primary};
  --dark: #{$dark};
  --light: #{$light};
  --link: #{$link};
}

html {
  font-size: $font-size;
}

body {
  color: $font-color;
  margin: 0;
  padding: 0;
}

.bg {
  &-dark {
    background-color: $dark;
  }

  &-light {
    background-color: $light;
  }
}
