/* This file is for your main application css. */

@import "./phoenix.css";
@import 'variables';

html {
  font-size: $font-size;
}

body {
  color: $font-color;
  margin: 0;
  padding: 0;
}

.bg {
  &-dark {
    background-color: $dark;
  }

  &-light {
    background-color: $light;
  }
}
